* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.default-hidden {
    display: none;
}

body {
    line-height: 1.5;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.container {
    height: 80%;
    width: 80%;
    background: white;
    position: relative;
}

.screen {
    height: 90%;
    width: 100%;
    display: none;
}

.screen.active {
    display: block;
}

.main-content {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}

.selection-controls,
.selection-tree,
.help-grid {
    width: 50%;
    height: 80%;
    overflow-y: auto;
}

.top-right-link {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    color: #777;
    border: none;
    cursor: pointer;
    font-size: 2em;
    margin: 0.5em;
    width: 1.2em;
    height: 1.2em;
}

.top-right-link:hover {
    color: #999;
}
.below-right-link {
    position: absolute;
    top: 0;
    left: 2em;
    background: white;
    color: #777;
    border: none;
    cursor: pointer;
    font-size: 2em;
    margin: 0.5em;
    width: 1.2em;
    height: 1.2em;
}

.below-right-link:hover {
    color: #999;
}

.help-grid {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 1em;
}

.session-footer {
    display: flex;
    justify-content: center;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}

.category {
    margin-bottom: 1em;
}

.category-header {
    font-weight: bold;
    background: #DDD;
}

.subcategory {
    margin-left: 3em;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-group label {
    margin-right: 0.5em;
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.checkbox-item input[type="checkbox"] {
    margin-right: 1em;
    min-width: 1.5em;
    min-height: 1.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: #777;
    cursor: pointer;
    position: relative;
}

.checkbox-item input[type="checkbox"]:checked::after {
    content: "✓";
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
}

.checkbox-item.category-header input[type="checkbox"] {
    margin-left: 0.5em;
}

.card-count {
    color: #777;
    margin-left: 1em;
}

.selection-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.range-controls {
    display: grid;
    grid-template-columns: 5em 5em 5em;
    gap: 1em;
    align-items: center;
    padding-bottom: 1em;
}

.range-controls>div {
    display: contents;
}

.range-controls input[type="number"] {
    padding: 0.5em;
    border: none;
    background: #DDD;
    font-size: 1em;
}

.range-controls input[type="checkbox"] {
    width: 2em;
    height: 2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: #777;
    cursor: pointer;
    position: relative;
}

.range-controls input[type="checkbox"]:checked::after {
    content: "✓";
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

.range-controls button {
    padding: 0.5em 0.5em;
    font-size: 1em;
    color: white;
    cursor: pointer;
    border: none;
    background: #777;
    min-width: 5em;
}

.range-controls button:hover {
    background-color: #999;
}

.btn {
    background: #777;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    margin: 0.5em;
    width: 10em;
    height: 2em;
}

.btn:hover {
    background: #999;
}

.btn:disabled {
    background: #CCC;
    cursor: not-allowed;
}

.session-header {
    text-align: center;
    margin-bottom: 30px;
}

.progress {
    font-size: 1em;
    color: #777;
    margin-bottom: 1em;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select: none;
}

.card-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
    padding: 0 1em;
    height: 50%;
    width: 100%;
}

.flashcard {
    height: 100%;
    width: 50%;
    background: white;
    border: 2px solid #ddd;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.card-content {
    font-size: 2em;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.card-side {
    display: none;
}

.card-side.active {
    display: block;
}

.session-controls {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-bottom: 2em;
    flex-wrap: wrap;
    padding: 0 1em;
}

.results {
    text-align: center;
}

.stats {
    display: flex;
    justify-content: center;
    margin: 3em 0;
    flex-wrap: wrap;
    gap: 2em;
}

.stat-number {
    font-size: 2em;
}

.stat-label {
    font-size: 2em;
    color: #777;
}

.error {
    color: #E43;
    background: #FFFFFF;
    padding: 1em;
    border: none;
    margin-bottom: 2em;
    font-size: 2em;
}

.disabled-div {
    pointer-events: none;
}

@media (max-width: 768px) {

    .top-right-link {
        bottom: 0;
        top: auto;
    }

    .below-right-link {
        bottom: 0;
        top: auto;
    }

    .container {
        height: 95%;
        width: 95%;
        background: white;
    }

    body {
        height: 100vh;
    }

    h1 {
        text-align: center;
        font-size: 2em;
    }

    .main-content {
        height: 100%;
        width: 100%;
        display: block;
        padding: 0em;
    }

    .selection-controls,
    .selection-tree,
    .help-grid {
        width: 100%;
        height: 45%;
        max-width: 100%;
        padding: 0em;
    }

    .session-footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .btn {
        width: 100%;
        max-width: none;
        margin: 0.25em;
        height: 1.5em;
    }

    .session-footer .btn {
        width: 50%;
    }

    .range-controls {
        gap: 0.5em;
        padding-bottom: 0.5em;
    }

    .range-controls button:hover {
        background-color: #999;
    }

    .flashcard {
        width: 95vw;
        height: 35vh;
        padding: 2em;
        touch-action: none;
        overscroll-behavior: contain;
        overflow: hidden;
    }

    .session-controls {
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .stats {
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }
}